.container{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.container h1{
    font-family:cursive;
}
.container form{
    margin: 0 auto;
}
.container form input{
    padding: 5px;
    border-radius: 10px;
    margin: 0 10px 0 0;
}
.container button{
    padding: 5px;
    border-radius: 10px;
    border: 0px;
}
.container button:hover{
    background-color:beige;
    cursor: pointer;
}